<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
<meta http-equiv="Cache-Control" content="no-cache">
<title>ラズパイ Personal Server</title>
<style type="text/css">
    <!--
	body {
            -webkit-text-size-adjust: 100%;
            padding: 10px;
        }
	h1 {
		background-color:#BB44FF;
		text-align: center;
		color: #EEEEEE;
		padding: 20px; 
	}
    -->
</style>
{% block headers %}
<!-- Javascript etc... -->
{% endblock %}
</head>
<body style="background-color:#FFFFEE">
{% block contents %}
<!-- contents area -->
{% endblock %}
<body>
</html>
